# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\MohamedBoutaleb\Documents\MEGA\SUPSI\SEMESTRE_5_6\SEMESTRE_5\SISTEMI_OPERATIVI\ESERCIZI\Esercizio0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
